/client/node_modules



#Back
/spring-api-gym/src/main/resources/application.properties

/spring-api-gym/HELP.md
/spring-api-gym/target/
/spring-api-gym/!.mvn/wrapper/maven-wrapper.jar
/spring-api-gym/!**/src/main/**/target/
/spring-api-gym/!**/src/test/**/target/

### STS ###
/spring-api-gym/.apt_generated
/spring-api-gym/.classpath
/spring-api-gym/.factorypath
/spring-api-gym/.project
/spring-api-gym/.settings
/spring-api-gym/.springBeans
/spring-api-gym/.sts4-cache

### IntelliJ IDEA ###
/spring-api-gym/.idea
/spring-api-gym/*.iws
/spring-api-gym/*.iml
/spring-api-gym/*.ipr

### NetBeans ###
/spring-api-gym//nbproject/private/
/spring-api-gym//nbbuild/
/spring-api-gym//dist/
/spring-api-gym//nbdist/
/spring-api-gym//.nb-gradle/
/spring-api-gym/build/
/spring-api-gym/!**/src/main/**/build/
/spring-api-gym/!**/src/test/**/build/

### VS Code ###
/spring-api-gym/.vscode/